@charset "UTF-8";

body {
  width: 100%;
  height: 1000px;
}

/* CSS 글자색, 배경색: https://aboooks.tistory.com/154 */
/* 새상표: https://webdir.tistory.com/406 */
header, nav, aside, section, article, footer {
  display: block; 
  margin: 0px;
  padding: 0px;
  color: #000000;
  font-family: 굴림;
  font-style: normal;
  font-size: 15;
}

header {
  width: 100%; 
  height: 10%; 
  background-color: DimGray; 
  color: white; 
  text-align: left;
}

nav {
  float: left;
  width: 100%; 
  height: 5%;
  background-color: pink; 
  color: white; 
  text-align: left;
}

aside {
  float: left;
  width: 0%; 
  height: 80%;
  background-color: gray; 
  color: white; 
  text-align: left;
}
  
section {
  float: left; 
  width: 100%; 
  height: 85%;
  background-color: black; 
  color: white; 
  text-align: left;
}
  
article {
  float: left; 
  width: 80%; 
  height: 00%;
  background-color: black; 
  color: white; 
  text-align: left;
}

footer{
  overflow: hidden;
  width: 100%; 
  height: 10%; 
  background-color: darkGray; 
  text-align: center;
}

  
  
        
/*
header {
  width: 100%;
  height: 10%;
  background-color: #404040;
  color: #ffffff;
}

nav {
  float: left;
  width: 20%;
  height: 80%;
  background-color: #353040;
  color: #ffffff;
}

section {
  float: left;
  width: 80%;
  height: 80%;
  background-color: #303030;
  color: #ffffff;
}

footer {
  overflow: hidden;
  width: 100%;
  height: 10%;
  background-color: #ddd;
  color: #ffffff;
}
   */