#title{
    text-align: center;
}
#payTable{
    text-align: center;
    width: 100%;
    border-collapse:collapse;
    
}

#payTable td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 50px;
}

#allPrice{
    text-align: center;
    margin: 50px;
}

#btns{
    text-align: center;
    
}

.btn{
    margin: 30px;
    width: 150px;
    height: 40px;
    border: 1px solid skyblue;
    background-color: skyblue;
    color: white;
}

#orderInfoTable{
    width: 100%;
    border-collapse:collapse;
}

#orderInfoTable td{
    height: 50px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}